body {
        width: 100%;
        height: 100%;
        background-image: url('https://images-ext-2.discordapp.net/external/8R-yYhz0dPPLSERysGPvvK2m9SK-JOlpupXMIFsE100/https/a-static.besthdwallpaper.com/neon-city-synthwave-bakgrunns-2560x1600-81131_7.jpg?width=1082&height=676');
        background-blend-mode: screen;
        background-repeat: no-repeat;
        background-size: cover;
        overflow: hidden;
}

    

    

.selections {
  
    justify-content: left;
    
}
button {
    
    width: 200px;
    height: 200px;    
    cursor: pointer;
    border-radius: 50px;
    border-width: 10px;
    border-color: rgb(233, 198, 42);
    animation: loading 10s linear infinite;
    justify-content: center;
    text-align: center;
    margin: 20px;
   
   
}

.buttons{
    
    margin-left: 35%;
    
}




@keyframes loading{
    to {transform: rotate(1turn);}
}


h2 {
    
color: rgb(162, 11, 182);
font-size: 2.5rem;
text-shadow:  1px 1px rgb(71, 0, 80) ;
text-align: center;

}

.selection { 
    background: none rgba(195, 10, 164, 0.692);
    cursor: pointer;
    font-size: 8rem;
    transition: 100ms;
}

.selection:hover {
transform: scale(1.2);

}
.results {
    margin-top: 5rem;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
}
.result-score {
    margin-left: .1rem;
    font-size: .5rem;
    color: #333;
}
.result-selection {
opacity: .5;
}
.result-selection.winner {
opacity: 1;
font-size: 1.5rem;
}